# Ignore bundler config
/.bundle

# Ignore Jasmine headless cache
/.jhw-cache

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/*
!/tmp/.gitkeep

.idea
.env

#ignore vim swp files
*.swp
.env.local
Guardfile

.DS_Store
